* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    grid-area: navbar;
}

.main-doc {
    grid-area: maindoc;
    margin-left: 5%;
    margin-right: 2%;
}


/* Nav bar Vertical -- large*/
.container {
    background-color: cadetblue;
    display: grid;
    width: 100%;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
    'navbar maindoc';
}

#ulnav {
    list-style-type: none;
    width: 220px;
    height: 100%;
    position: fixed;
    overflow: auto;
    background: linear-gradient(to bottom right, #666699 0%, #ff66cc 100%);
  }
  
  
#linav a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #linav a:hover:not(.active) {
    background-color: #111;
    background: linear-gradient(to top left, #666699 0%, #ff66cc 100%);
  }
  
  .active {
    background-color: #04AA6D;
  }

  




@media (max-width: 1000px){
/* Nav bar Horizontal -- small*/
.container {
    background-color: cadetblue;
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    'navbar'
    'maindoc';
}



#ulnav {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    display: block;
    position: relative;
    background: linear-gradient(to bottom right, #666699 0%, #ff66cc 100%);
  }
  
#linav {
    display: inline;
    
  }
  
#linav a {
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #linav a:hover:not(.active) {
    background: linear-gradient(to top left, #666699 0%, #ff66cc 100%);
  }
  
  .active {
    background-color: #04AA6D;
  }
  .main-doc {
    margin-left:10%;
    margin-right: 10%;
  }
}


/* Content */
.main-doc {
    margin-top: 20px;
}

.topic {
    font-size: 48px;
    font-weight: lighter;
}

h1 {
    font-size: 32px;
    margin-top: 20px;   
}
header {
  font-size: 32px;
  margin-top: 20px;   
}

p {
    font-size: larger;
}

li {
    font-size: larger;
}

.code {
    background-color: black;
    color: white;
    width: 400px;
    height: auto;
    padding: 20px;
    margin: 20px;
}


