/* Nav Bar */
body {margin:0;}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    top: 0;
    width: 100%;
    font-size: 25px;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: red;
  }
  
  .active {
    background-color:#333333;
  }

  #header-img {
    max-height: 50px;
    width: auto;
    border: 0px;
  }


  /* Body Grid Management */
.container {
    margin: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
}

.content {

}

.text-center {
    text-align: center;
}

#video {
    
}

.center {
    margin: auto;
    width: 95%;
    border: 3px solid white;
    padding: 10px;
  }

.sample-container {
    
    width: 95%;
    border: 3px solid white;
    padding: 10px;
}



.samplepic {
    width: 250px;
    height: auto;
}

@media (max-width: 1000px){
  .samplepic {
   width: 150px;
   display: flex;
  }
}


#footer {
  background-color: gray;
  padding: 20px;
}

#email {
  display: flex;
  margin-top: 10px;
  width: 50%;
}

.submit-button{
  background: red;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  width: auto;
  height: 30px;
  margin-top: 5px;
}

.submit-button:hover {
  background: blue;
}

.form {
  background: linear-gradient(to top left, #0066ff 0%, #ff99cc 100%);
  padding: 20px;
}

.blank {
  color:white;
}




